body {
  background-color: black;
  margin: 0px;
}

.frame {
  display: inline-block;
  width: 391px;
  height: 291px;
  margin: 0px;
  border: 2px solid lightgray; 
  position: relative;
}

.left {
  clear: left;
}

.right {
  float: right;
}

.row {
  height: 295px;
  width: 790px;
}
video {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

}